/* src/app/features/dashboard/blocks/delivery-status/delivery-status-component.css */
.input {
  padding: 0.5rem 0.75rem;            /* ↑ */
  border: 1px solid rgb(203 213 225);
  border-radius: 0.5rem;              /* ↑ */
  background: #fff;
  color: rgb(30 41 59);
  font-size: 1rem;                    /* 16px base para inputs */
}

.btn-primary {
  padding: 0.5rem 0.9rem;             /* ↑ */
  border-radius: 0.5rem;              /* ↑ */
  background: rgb(2 132 199);
  color: #fff;
  font-weight: 600;
}
.btn-primary:hover { background: rgb(3 105 161); }

.btn-ghost {
  padding: 0.5rem 0.9rem;             /* ↑ */
  border-radius: 0.5rem;              /* ↑ */
  border: 1px solid rgb(203 213 225);
  font-weight: 600;
}
.btn-ghost:hover { background: rgb(248 250 252); }
    